{
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "trailingComma": "esSpec-compliant",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf"
}
